body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Calibri";
    display: flex;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 0;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
}

main {
    margin: 50px 0;
    width: 1000px;
}

main h1 {
    display: flex;
    justify-content: center;
}

.textarea {
    width: 450px;
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 2px solid rgb(63, 170, 63);
}

.textarea:focus, .textarea-select:focus, .textarea-car-brand:focus {
    outline: none;
}

.textarea-select {
    width: 200px;
    border-radius: 2px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
    background: white;
    font-size: 14px;
    border: 2px solid rgb(63, 170, 63);
}

.textarea-car-brand {
    width: 430px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    border: 2px solid rgb(63, 170, 63);
}

.year {
    width: 100px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    user-select: none;
}
  
  
.container input { /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark { /* Create a custom checkbox */
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid rgb(63, 170, 63);
    background-color: white;
}
  
.container:hover input ~ .checkmark { /* On mouse-over, add a grey background color */
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark { /* When the checkbox is checked, add a blue background */
    background-color: white;
    border-color :rgb(63, 170, 63);
}
    
.checkmark:after { /* Create the checkmark/indicator (hidden when not checked) */
    content: "";
    position: absolute;
    border: rgb(63, 170, 63);
    display: none;
}
  
.container input:checked ~ .checkmark:after { /* Show the checkmark when checked */
    display: block;
}
  
.container .checkmark:after { /* Style the checkmark/indicator */
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: 1px solid rgb(63, 170, 63);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.count {
    width: 80px;
    text-align: right;
}

.row1 {
    background: rgba(128, 128, 128, 0.3);
}

#mark {
    color:rgb(63, 170, 63);
}

.container-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.container-radio input { /* Hide the browser's default radio button */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-radio {  /* Create a custom radio button */
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 20px;
    height: 17px;
    width: 17px;
    border: 1px solid rgb(63, 170, 63);
    background-color: #eee;
    border-radius: 50%;
}

.container-radio:hover input ~ .checkmark-radio { /* On mouse-over, add a grey background color */
    background-color: #ccc;
}

.container-radio input:checked ~ .checkmark-radio { /* When the radio button is checked, add a blue background */
    background-color: rgb(63, 170, 63);
}

.checkmark-radio:after { /* Create the indicator (the dot/circle - hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark-radio:after { /* Show the indicator (dot/circle) when checked */
    display: block;
}

.container-radio .checkmark-radio:after { /* Style the indicator (dot/circle) */
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

#radiobuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multiple-radio, .type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
}

.ride-age {
    width: 70px;
    text-align: right;
}

.box {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1, .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gender {
    display: flex;
    align-items: center;
}

.gap {
    margin-right: 30px;
}

.add {
    color: rgb(63, 170, 63); 
    grid-column: 1 / span 2; 
    display: flex; 
    justify-content: center;
    margin-top: 50px;
}

.bottom {
    margin-bottom: 10px;
}

.last {
    margin-top: 20px;
}

#calculatebtn {
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right top, #23803f, #418b3a, #5c9634, #77a12d, #93aa26);
    border: 0;
}

#calculatebtn:focus {
    outline: none;
}

.back img {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 2%;
    left: 1%;
    color: white;
    opacity: 0.5;
}