body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(37, 39, 46);
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 39, 46);
    animation: fade-in 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

.job-offers {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:rgba(27, 30, 37);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(13, 15, 20);
}

.header,
.company {
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
    margin-bottom: 20px;
}

.header {
    background:rgba(3, 3, 3, 0.411);
    padding: 10px;
    margin: -10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.company {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(3, 3, 3, 0.411);
    transition: 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.company:hover {
    transform: scale(1.2);
    backdrop-filter: blur(10px);
}

.last {
    margin: 0;
}

.header img,
.company img{
    width: 100px;
    border-radius: 10px;
    background: rgba(3, 3, 3, 0.411);
    padding: 10px;
    margin: 0px 50px 0 10px;
}

.header p,
.company p {
    color: white;
    font-family: candara;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    width: 1.5em;
    height: 5em;
    transition: 300ms cubic-bezier(.18,.89,.32,1.28);
    border: 2px solid rgb(255, 255, 255);
}

.right {
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    border-radius: 15px 2px 2px 15px;
}

.left {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    border-radius: 2px 15px 15px 2px;
}

.btn img {
    width: 0;
    height: 0;
    opacity: 0;
    transition: 300ms cubic-bezier(.18,.89,.32,1.28);
}

.left img  {
    transform: rotateZ(-180deg);
}

.btn:hover {
    width: 5em;
}

.btn:hover img {
    width: 3em;
    height: 3em;
    opacity: 1;
}

.fade-out {
    animation: fade-out 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-fill-mode: both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}